body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:1400px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u618 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:157px;
  width:1400px;
  height:295px;
}
#u619 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:50px;
  display:flex;
  transition:none;
}
#u619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:50px;
}
#u619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u620 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:0px;
  width:218px;
  height:50px;
  display:flex;
  transition:none;
}
#u620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:50px;
}
#u620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u621 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:0px;
  width:286px;
  height:50px;
  display:flex;
  transition:none;
}
#u621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:50px;
}
#u621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u622 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:0px;
  width:235px;
  height:50px;
  display:flex;
  transition:none;
}
#u622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:50px;
}
#u622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u623 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:0px;
  width:172px;
  height:50px;
  display:flex;
  transition:none;
}
#u623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:50px;
}
#u623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u624 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:0px;
  width:191px;
  height:50px;
  display:flex;
  transition:none;
}
#u624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:50px;
}
#u624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u625 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:0px;
  width:182px;
  height:50px;
  display:flex;
  transition:none;
}
#u625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:50px;
}
#u625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u626 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:116px;
  height:49px;
  display:flex;
  transition:none;
}
#u626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:49px;
}
#u626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u627 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:50px;
  width:218px;
  height:49px;
  display:flex;
  transition:none;
}
#u627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:49px;
}
#u627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u628 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:50px;
  width:286px;
  height:49px;
  display:flex;
  transition:none;
}
#u628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:49px;
}
#u628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u629 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:50px;
  width:235px;
  height:49px;
  display:flex;
  transition:none;
  color:#000000;
}
#u629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:49px;
}
#u629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u630 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:50px;
  width:172px;
  height:49px;
  display:flex;
  transition:none;
}
#u630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:49px;
}
#u630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u631 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:50px;
  width:191px;
  height:49px;
  display:flex;
  transition:none;
}
#u631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:49px;
}
#u631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u632 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:50px;
  width:182px;
  height:49px;
  display:flex;
  transition:none;
}
#u632 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:49px;
}
#u632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u633 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:99px;
  width:116px;
  height:49px;
  display:flex;
  transition:none;
}
#u633 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:49px;
}
#u633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u634 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:99px;
  width:218px;
  height:49px;
  display:flex;
  transition:none;
}
#u634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:49px;
}
#u634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u635 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:99px;
  width:286px;
  height:49px;
  display:flex;
  transition:none;
}
#u635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:49px;
}
#u635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u636 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:99px;
  width:235px;
  height:49px;
  display:flex;
  transition:none;
  color:#000000;
}
#u636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:49px;
}
#u636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u637 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:99px;
  width:172px;
  height:49px;
  display:flex;
  transition:none;
}
#u637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:49px;
}
#u637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u638 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:99px;
  width:191px;
  height:49px;
  display:flex;
  transition:none;
}
#u638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:49px;
}
#u638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u639 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:99px;
  width:182px;
  height:49px;
  display:flex;
  transition:none;
}
#u639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:49px;
}
#u639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u640 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:148px;
  width:116px;
  height:49px;
  display:flex;
  transition:none;
}
#u640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:49px;
}
#u640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u641 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:148px;
  width:218px;
  height:49px;
  display:flex;
  transition:none;
}
#u641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:49px;
}
#u641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u642 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:148px;
  width:286px;
  height:49px;
  display:flex;
  transition:none;
}
#u642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:49px;
}
#u642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u643 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:148px;
  width:235px;
  height:49px;
  display:flex;
  transition:none;
  color:#000000;
}
#u643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:49px;
}
#u643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u644 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:148px;
  width:172px;
  height:49px;
  display:flex;
  transition:none;
}
#u644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:49px;
}
#u644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u645 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:148px;
  width:191px;
  height:49px;
  display:flex;
  transition:none;
}
#u645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:49px;
}
#u645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u646 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:148px;
  width:182px;
  height:49px;
  display:flex;
  transition:none;
}
#u646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:49px;
}
#u646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u647 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:197px;
  width:116px;
  height:49px;
  display:flex;
  transition:none;
}
#u647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:49px;
}
#u647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u648 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:197px;
  width:218px;
  height:49px;
  display:flex;
  transition:none;
}
#u648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:49px;
}
#u648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u649 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:197px;
  width:286px;
  height:49px;
  display:flex;
  transition:none;
}
#u649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:49px;
}
#u649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u650 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:197px;
  width:235px;
  height:49px;
  display:flex;
  transition:none;
  color:#000000;
}
#u650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:49px;
}
#u650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u651 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:197px;
  width:172px;
  height:49px;
  display:flex;
  transition:none;
}
#u651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:49px;
}
#u651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u652 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:197px;
  width:191px;
  height:49px;
  display:flex;
  transition:none;
}
#u652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:49px;
}
#u652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u653 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:197px;
  width:182px;
  height:49px;
  display:flex;
  transition:none;
}
#u653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:49px;
}
#u653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:246px;
  width:116px;
  height:49px;
  display:flex;
  transition:none;
}
#u654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:116px;
  height:49px;
}
#u654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u655 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:246px;
  width:218px;
  height:49px;
  display:flex;
  transition:none;
}
#u655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:218px;
  height:49px;
}
#u655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u656 {
  border-width:0px;
  position:absolute;
  left:334px;
  top:246px;
  width:286px;
  height:49px;
  display:flex;
  transition:none;
}
#u656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:286px;
  height:49px;
}
#u656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u657 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:246px;
  width:235px;
  height:49px;
  display:flex;
  transition:none;
  color:#000000;
}
#u657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:49px;
}
#u657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u658 {
  border-width:0px;
  position:absolute;
  left:855px;
  top:246px;
  width:172px;
  height:49px;
  display:flex;
  transition:none;
}
#u658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:49px;
}
#u658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u659 {
  border-width:0px;
  position:absolute;
  left:1027px;
  top:246px;
  width:191px;
  height:49px;
  display:flex;
  transition:none;
}
#u659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:49px;
}
#u659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:1218px;
  top:246px;
  width:182px;
  height:49px;
  display:flex;
  transition:none;
}
#u660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:182px;
  height:49px;
}
#u660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u661_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
  color:#FFFFFF;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:1203px;
  top:102px;
  width:30px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
  color:#FFFFFF;
}
#u661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:1239px;
  top:102px;
  width:50px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u663_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u663_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u663_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:51px;
  width:200px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u663 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u663_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u663.disabled {
}
.u663_input_option {
}
#u664_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:52px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u664 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u664_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:223px;
  top:30px;
  width:52px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u665 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u665_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:30px;
  width:52px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u666 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u666_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u667 label {
  left:0px;
  width:100%;
  height:100%;
}
#u667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:179px;
  width:18px;
  height:15px;
  display:flex;
  transition:none;
}
#u667 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u667_img.selected {
}
#u667.selected {
}
#u667_img.disabled {
}
#u667.disabled {
}
#u667_img.selected.error {
}
#u667.selected.error {
}
#u667_img.selected.hint {
}
#u667.selected.hint {
}
#u667_img.selected.error.hint {
}
#u667.selected.error.hint {
}
#u667_img.mouseOver.selected {
}
#u667.mouseOver.selected {
}
#u667_img.mouseOver.selected.error {
}
#u667.mouseOver.selected.error {
}
#u667_img.mouseOver.selected.hint {
}
#u667.mouseOver.selected.hint {
}
#u667_img.mouseOver.selected.error.hint {
}
#u667.mouseOver.selected.error.hint {
}
#u667_img.mouseDown.selected {
}
#u667.mouseDown.selected {
}
#u667_img.mouseDown.selected.error {
}
#u667.mouseDown.selected.error {
}
#u667_img.mouseDown.selected.hint {
}
#u667.mouseDown.selected.hint {
}
#u667_img.mouseDown.selected.error.hint {
}
#u667.mouseDown.selected.error.hint {
}
#u667_img.mouseOver.mouseDown.selected {
}
#u667.mouseOver.mouseDown.selected {
}
#u667_img.mouseOver.mouseDown.selected.error {
}
#u667.mouseOver.mouseDown.selected.error {
}
#u667_img.mouseOver.mouseDown.selected.hint {
}
#u667.mouseOver.mouseDown.selected.hint {
}
#u667_img.mouseOver.mouseDown.selected.error.hint {
}
#u667.mouseOver.mouseDown.selected.error.hint {
}
#u667_img.focused.selected {
}
#u667.focused.selected {
}
#u667_img.focused.selected.error {
}
#u667.focused.selected.error {
}
#u667_img.focused.selected.hint {
}
#u667.focused.selected.hint {
}
#u667_img.focused.selected.error.hint {
}
#u667.focused.selected.error.hint {
}
#u667_img.selected.disabled {
}
#u667.selected.disabled {
}
#u667_img.selected.hint.disabled {
}
#u667.selected.hint.disabled {
}
#u667_img.selected.error.disabled {
}
#u667.selected.error.disabled {
}
#u667_img.selected.error.hint.disabled {
}
#u667.selected.error.hint.disabled {
}
#u667_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:5px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u667_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u668 label {
  left:0px;
  width:100%;
  height:100%;
}
#u668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:231px;
  width:18px;
  height:15px;
  display:flex;
  transition:none;
}
#u668 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u668_img.selected {
}
#u668.selected {
}
#u668_img.disabled {
}
#u668.disabled {
}
#u668_img.selected.error {
}
#u668.selected.error {
}
#u668_img.selected.hint {
}
#u668.selected.hint {
}
#u668_img.selected.error.hint {
}
#u668.selected.error.hint {
}
#u668_img.mouseOver.selected {
}
#u668.mouseOver.selected {
}
#u668_img.mouseOver.selected.error {
}
#u668.mouseOver.selected.error {
}
#u668_img.mouseOver.selected.hint {
}
#u668.mouseOver.selected.hint {
}
#u668_img.mouseOver.selected.error.hint {
}
#u668.mouseOver.selected.error.hint {
}
#u668_img.mouseDown.selected {
}
#u668.mouseDown.selected {
}
#u668_img.mouseDown.selected.error {
}
#u668.mouseDown.selected.error {
}
#u668_img.mouseDown.selected.hint {
}
#u668.mouseDown.selected.hint {
}
#u668_img.mouseDown.selected.error.hint {
}
#u668.mouseDown.selected.error.hint {
}
#u668_img.mouseOver.mouseDown.selected {
}
#u668.mouseOver.mouseDown.selected {
}
#u668_img.mouseOver.mouseDown.selected.error {
}
#u668.mouseOver.mouseDown.selected.error {
}
#u668_img.mouseOver.mouseDown.selected.hint {
}
#u668.mouseOver.mouseDown.selected.hint {
}
#u668_img.mouseOver.mouseDown.selected.error.hint {
}
#u668.mouseOver.mouseDown.selected.error.hint {
}
#u668_img.focused.selected {
}
#u668.focused.selected {
}
#u668_img.focused.selected.error {
}
#u668.focused.selected.error {
}
#u668_img.focused.selected.hint {
}
#u668.focused.selected.hint {
}
#u668_img.focused.selected.error.hint {
}
#u668.focused.selected.error.hint {
}
#u668_img.selected.disabled {
}
#u668.selected.disabled {
}
#u668_img.selected.hint.disabled {
}
#u668.selected.hint.disabled {
}
#u668_img.selected.error.disabled {
}
#u668.selected.error.disabled {
}
#u668_img.selected.error.hint.disabled {
}
#u668.selected.error.hint.disabled {
}
#u668_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:5px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u668_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u669 label {
  left:0px;
  width:100%;
  height:100%;
}
#u669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:13px;
  height:13px;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:27px;
  top:274px;
  width:18px;
  height:15px;
  display:flex;
  transition:none;
}
#u669 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u669_img.selected {
}
#u669.selected {
}
#u669_img.disabled {
}
#u669.disabled {
}
#u669_img.selected.error {
}
#u669.selected.error {
}
#u669_img.selected.hint {
}
#u669.selected.hint {
}
#u669_img.selected.error.hint {
}
#u669.selected.error.hint {
}
#u669_img.mouseOver.selected {
}
#u669.mouseOver.selected {
}
#u669_img.mouseOver.selected.error {
}
#u669.mouseOver.selected.error {
}
#u669_img.mouseOver.selected.hint {
}
#u669.mouseOver.selected.hint {
}
#u669_img.mouseOver.selected.error.hint {
}
#u669.mouseOver.selected.error.hint {
}
#u669_img.mouseDown.selected {
}
#u669.mouseDown.selected {
}
#u669_img.mouseDown.selected.error {
}
#u669.mouseDown.selected.error {
}
#u669_img.mouseDown.selected.hint {
}
#u669.mouseDown.selected.hint {
}
#u669_img.mouseDown.selected.error.hint {
}
#u669.mouseDown.selected.error.hint {
}
#u669_img.mouseOver.mouseDown.selected {
}
#u669.mouseOver.mouseDown.selected {
}
#u669_img.mouseOver.mouseDown.selected.error {
}
#u669.mouseOver.mouseDown.selected.error {
}
#u669_img.mouseOver.mouseDown.selected.hint {
}
#u669.mouseOver.mouseDown.selected.hint {
}
#u669_img.mouseOver.mouseDown.selected.error.hint {
}
#u669.mouseOver.mouseDown.selected.error.hint {
}
#u669_img.focused.selected {
}
#u669.focused.selected {
}
#u669_img.focused.selected.error {
}
#u669.focused.selected.error {
}
#u669_img.focused.selected.hint {
}
#u669.focused.selected.hint {
}
#u669_img.focused.selected.error.hint {
}
#u669.focused.selected.error.hint {
}
#u669_img.selected.disabled {
}
#u669.selected.disabled {
}
#u669_img.selected.hint.disabled {
}
#u669.selected.hint.disabled {
}
#u669_img.selected.error.disabled {
}
#u669.selected.error.disabled {
}
#u669_img.selected.error.hint.disabled {
}
#u669.selected.error.hint.disabled {
}
#u669_text {
  border-width:0px;
  position:absolute;
  left:13px;
  top:0px;
  width:5px;
  white-space:nowrap;
  text-transform:none;
  visibility:hidden;
}
#u669_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(51, 51, 51, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:1294px;
  top:102px;
  width:50px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
  background:inherit;
  background-color:rgba(217, 0, 27, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:1350px;
  top:102px;
  width:50px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:672px;
  top:62px;
  width:18px;
  height:18px;
  display:flex;
  transition:none;
}
#u672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u672_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:16px;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:61px;
  width:10px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:16px;
}
#u673 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u673_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:218px;
  top:53px;
  width:200px;
  height:35px;
}
#u675_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.34901960784313724);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u675_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u675_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.34901960784313724);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u675_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(0, 0, 0, 0.34901960784313724);
}
#u675 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:rgba(0, 0, 0, 0.34901960784313724);
}
#u675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u675_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(0, 0, 0, 0.34901960784313724);
}
#u675.hint {
}
#u675_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(0, 0, 0, 0.34901960784313724);
}
#u675.disabled {
}
#u675_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(0, 0, 0, 0.34901960784313724);
}
#u675.hint.disabled {
}
#u676 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:9px;
  width:15px;
  height:17px;
  display:flex;
  transition:none;
}
#u676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:53px;
  width:200px;
  height:35px;
}
#u678_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.34901960784313724);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u678_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u678_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:rgba(0, 0, 0, 0.34901960784313724);
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u678_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  padding:2px 2px 2px 10px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(0, 0, 0, 0.34901960784313724);
}
#u678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:rgba(0, 0, 0, 0.34901960784313724);
}
#u678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 10px;
  box-sizing:border-box;
  width:100%;
}
#u678_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(0, 0, 0, 0.34901960784313724);
}
#u678.hint {
}
#u678_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(0, 0, 0, 0.34901960784313724);
}
#u678.disabled {
}
#u678_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:rgba(0, 0, 0, 0.34901960784313724);
}
#u678.hint.disabled {
}
#u679 {
  border-width:0px;
  position:absolute;
  left:177px;
  top:9px;
  width:15px;
  height:17px;
  display:flex;
  transition:none;
}
#u679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:17px;
}
#u679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
