body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-54px;
  width:745px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u911_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u911 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:98px;
  width:56px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u911 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u911_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u912_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u912 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:182px;
  width:56px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u912 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u912_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u913_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u913 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:182px;
  width:56px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u913 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u913_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u914_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u914 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:431px;
  width:28px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u914 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u914_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u915_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u915_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u915_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u915 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:211px;
  width:350px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u915 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u915_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u915.disabled {
}
.u915_input_option {
}
#u916_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-size:20px;
}
#u916 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:44px;
  width:140px;
  height:23px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-size:20px;
}
#u916 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u916_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u917_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u917 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:98px;
  width:70px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u917 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u917_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u918_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u918 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:431px;
  width:70px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u918 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u918_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u919_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u919 {
  border-width:0px;
  position:absolute;
  left:581px;
  top:656px;
  width:100px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u919 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u919_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u920_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(2, 167, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
  color:#FFFFFF;
}
#u920 {
  border-width:0px;
  position:absolute;
  left:696px;
  top:656px;
  width:100px;
  height:40px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  color:#FFFFFF;
}
#u920 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u920_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u921_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u921_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u921_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u921 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:460px;
  width:350px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u921 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u921_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u921.disabled {
}
.u921_input_option {
}
#u922_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u922_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u922_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u922 {
  border-width:0px;
  position:absolute;
  left:446px;
  top:460px;
  width:350px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u922 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u922_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u922.disabled {
}
.u922_input_option {
}
#u923_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u923 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:522px;
  width:84px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u923 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u923_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u924_input {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:81px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u924_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:81px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u924_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:81px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u924_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:81px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
  resize:none;
}
#u924_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u924 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:551px;
  width:742px;
  height:81px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u924 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u924_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:81px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u924.hint {
}
#u924_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:81px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u924.disabled {
}
#u924_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:742px;
  height:81px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u924.hint.disabled {
}
#u925_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u925_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u925_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u925 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:127px;
  width:350px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u925 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u925_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u925.disabled {
}
.u925_input_option {
}
#u926_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u926 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:137px;
  width:5px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u926 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u926_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u927_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u927_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u927_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u927_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u927_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u927 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:211px;
  width:350px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u927 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u927_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u927.hint {
}
#u927_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u927.disabled {
}
#u927_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u927.hint.disabled {
}
#u928_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u928 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:266px;
  width:56px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u928 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u928_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u929_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u929 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:350px;
  width:70px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u929 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u929_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u930_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u930 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:350px;
  width:98px;
  height:19px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
  font-family:"微软雅黑 Bold", "微软雅黑", sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:14px;
}
#u930 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u930_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u931_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:15px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border-radius:0px;
  filter:drop-shadow(none);
  transition:none;
}
#u931 {
  border-width:0px;
  position:absolute;
  left:449px;
  top:389px;
  width:27px;
  height:15px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u931 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u931_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u932_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u932_input.hint {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u932_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u932_input.hint.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#999999;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u932_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u932 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:300px;
  width:350px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u932 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u932_div.hint {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u932.hint {
}
#u932_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u932.disabled {
}
#u932_div.hint.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u932.hint.disabled {
}
#u933_input {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u933_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  padding:2px 2px 2px 2px;
  font-family:"Arial Normal", "Arial", sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u933_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u933 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:379px;
  width:350px;
  height:35px;
  display:flex;
  transition:none;
  transform-origin:50% 50%;
}
#u933 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u933_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:35px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  filter:drop-shadow(none);
  transition:none;
}
#u933.disabled {
}
.u933_input_option {
}
