<html lang="ko">

<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="robots" content="noindex,nofollow"><!--- bot 차단 --->
<meta name="googlebot" content="noindex">

<!-- ===============================================-->
<!-- Document Title-->
<!-- ===============================================-->
<title>ProductService</title>
<!-- ===============================================-->
<!-- Favicons-->
<!-- ===============================================-->
<!-- <link rel="apple-touch-icon" sizes="180x180" href="./files/apple-touch-icon.png">-->
<link rel="icon" type="image/png" sizes="32x32" href="./files/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./files/favicon-16x16.png">
<!-- <meta name="msapplication-TileImage" content="./files/mstile-150x150.png">-->
<meta name="theme-color" content="#ffffff">
<script src="./files/imagesloaded.pkgd.min.js"></script>
<script src="./files/simplebar.min.js"></script>
<script src="./files/config.js"></script>
<!-- <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>-->
<script src="./files/jquery-3.2.1.min.js"></script>
<script src="./files/choices.min.js"></script>
<!-- <script src="./files/flatpickr.js"></script>-->


<!-- ===============================================-->
<!-- Stylesheets-->
<!-- ===============================================-->
<link href="./files/choices.min.css" rel="stylesheet" />
<link href="./files/flatpickr.min.css" rel="stylesheet">
<link href="./files/prism-okaidia.css" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900" rel="stylesheet">
<link href="./files/simplebar.min.css" rel="stylesheet">
<link rel="stylesheet" href="./files/line.css">
<link href="./files/theme-rtl.min.css" type="text/css" rel="stylesheet" id="style-rtl">
<link href="./files/theme.min.css" type="text/css" rel="stylesheet" id="style-default">
<link href="./files/user-rtl.min.css" type="text/css" rel="stylesheet" id="user-style-rtl">
<link href="./files/user.min.css" type="text/css" rel="stylesheet" id="user-style-default">

<script>
var phoenixIsRTL = window.config.config.phoenixIsRTL;
if (phoenixIsRTL) {
var linkDefault = document.getElementById('style-default');
var userLinkDefault = document.getElementById('user-style-default');
linkDefault.setAttribute('disabled', true);
userLinkDefault.setAttribute('disabled', true);
document.querySelector('html').setAttribute('dir', 'rtl');
} else {
var linkRTL = document.getElementById('style-rtl');
var userLinkRTL = document.getElementById('user-style-rtl');
linkRTL.setAttribute('disabled', true);
userLinkRTL.setAttribute('disabled', true);
}
</script>
<link href="./files/custom.css" type="text/css" rel="stylesheet">
</head>
<!--content 기본 시작--->
<div class="main" id="top">
<div class="container-fluid px-0">
<html lang="ko">

<nav class="navbar navbar-vertical navbar-expand-lg">
<script>
var navbarStyle = window.config.config.phoenixNavbarStyle;
if (navbarStyle && navbarStyle !== 'transparent') {
document.querySelector('body').classList.add(`navbar-${navbarStyle}`);
}
</script>
<div class="collapse navbar-collapse" id="navbarVerticalCollapse">
<!-- scrollbar removed-->
<div class="navbar-vertical-content">
<ul class="navbar-nav flex-column" id="navbarVerticalNav">
<!-- <li th:each="menu : ${menuList}" class="nav-item" >-->
<!-- <div class="nav-item-wrapper">-->
<!-- <a class="nav-link dropdown-indicator label-1" th:href="'#'+${menu.AT_NAME}" role="button" data-bs-toggle="collapse" aria-expanded="false" th:aria-controls="${menu.AT_NAME}">-->
<!-- <div class="d-flex align-items-center">-->
<!-- <div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div>-->
<!-- <span class="nav-link-icon"><span th:data-feather="${menu.ICON}"></span></span>-->
<!-- <span class="nav-link-text" th:text="#{${menu.AUTH_NAME}}"></span>-->
<!-- </div>-->
<!-- </a>-->
<!-- </div>-->
<!-- <div>-->
<!-- <div class="parent-wrapper label-1" th:if="${menu.AUTH_NAME}">-->
<!-- <ul class="nav collapse parent" data-bs-parent="#navbarVerticalCollapse" th:id="${menu.AT_NAME}">-->
<!-- <li class="collapsed-nav-item-title d-none" th:text="${menu.AUTH_NAME}" >-->
<!-- </li>-->

<!-- <li class="nav-item" th:block th:if="${menu['SUB_MENU']}" th:each="sub_item : ${menu['SUB_MENU']}">-->
<!-- <a class="nav-link" th:href="${sub_item.PAGE}" data-bs-toggle="" aria-expanded="false">-->
<!-- <div class="d-flex align-items-center"><span class="nav-link-text" th:text="#{${sub_item.AUTH_NAME}}"></span>-->
<!-- </div>-->
<!-- </a>-->
<!-- &lt;!&ndash; more inner pages&ndash;&gt;-->
<!-- </li>-->

<!-- </ul>-->
<!-- </div>-->
<!-- </div>-->
<!-- </li>-->
<li class="nav-item" >
<!-- parent pages-->
<div class="nav-item-wrapper"><!--th:href="'#'+${menu.AT_NAME}"--->
<a class="nav-link dropdown-indicator label-1" role="button" aria-expanded="true" aria-controls="member_menu">
<div class="d-flex align-items-center"><!--data-bs-toggle="collapse"--->
<div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div>
<span class="nav-link-icon"><span data-feather="users"></span></span>
<span class="nav-link-text">Users</span>
</div>
</a>
<div class="parent-wrapper label-1">
<ul class="nav collapse parent show" data-bs-parent="#navbarVerticalCollapse" id="member_menu">
<li class="collapsed-nav-item-title d-none">사용자</li>

<li class="nav-item">
<a class="nav-link" href="/member/index" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">User List</span>
</div>
</a>
<!-- more inner pages-->
</li>

<li class="nav-item">
<a class="nav-link" href="/member/role/index" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">Permission Management</span>
</div>
</a>
<!-- more inner pages-->
</li>
</ul>
</div>
</div>
</li>
<li class="nav-item" >
<!-- parent pages-->
<div class="nav-item-wrapper"><!--th:href="'#'+${menu.AT_NAME}"--->
<a class="nav-link dropdown-indicator label-1" role="button" aria-expanded="true" aria-controls="product_menu">
<div class="d-flex align-items-center"><!--data-bs-toggle="collapse"--->
<div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div>
<span class="nav-link-icon"><span data-feather="inbox"></span></span>
<span class="nav-link-text">Product</span>
</div>
</a>
<div class="parent-wrapper label-1">
<ul class="nav collapse parent show" data-bs-parent="#navbarVerticalCollapse" id="product_menu">
<li class="collapsed-nav-item-title d-none">제품</li>

<li class="nav-item">
<a class="nav-link" href="/product/index" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">Product List</span>
</div>
</a>
<!-- more inner pages-->
</li>
</ul>
</div>
</div>
</li>
<li class="nav-item" >
<!-- parent pages-->
<div class="nav-item-wrapper"><!--th:href="'#'+${menu.AT_NAME}"--->
<a class="nav-link dropdown-indicator label-1" role="button" aria-expanded="true" aria-controls="subsidiary_menu">
<div class="d-flex align-items-center"><!--data-bs-toggle="collapse"--->
<div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div>
<span class="nav-link-icon"><span data-feather="package"></span></span>
<span class="nav-link-text">Part Master</span>
</div>
</a>
<div class="parent-wrapper label-1">
<ul class="nav collapse parent show" data-bs-parent="#navbarVerticalCollapse" id="subsidiary_menu">
<li class="collapsed-nav-item-title d-none">부속품마스터</li>

<li class="nav-item">
<a class="nav-link" href="/part/index" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">Part Master List</span>
</div>
</a>
<!-- more inner pages-->
</li>

<li class="nav-item">
<a class="nav-link" href="/part/process" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">Part Request/Process Status</span>
</div>
</a>
<!-- more inner pages-->
</li>
</ul>
</div>
</div>
</li>
<li class="nav-item" >
<!-- parent pages-->
<div class="nav-item-wrapper"><!--th:href="'#'+${menu.AT_NAME}"--->
<a class="nav-link dropdown-indicator label-1" role="button" aria-expanded="true" aria-controls="stock_menu">
<div class="d-flex align-items-center"><!--data-bs-toggle="collapse"--->
<div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div>
<span class="nav-link-icon"><span data-feather="edit"></span></span>
<span class="nav-link-text">Stock Request</span>
</div>
</a>
<div class="parent-wrapper label-1">
<ul class="nav collapse parent show" data-bs-parent="#navbarVerticalCollapse" id="stock_menu">
<li class="collapsed-nav-item-title d-none">재고요청</li>

<li class="nav-item">
<a class="nav-link" href="/stock/index" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">List</span>
</div>
</a>
<!-- more inner pages-->
</li>
</ul>
</div>
</div>
</li>
<li class="nav-item" >
<!-- parent pages-->
<div class="nav-item-wrapper"><!--th:href="'#'+${menu.AT_NAME}"--->
<a class="nav-link dropdown-indicator label-1" role="button" aria-expanded="true" aria-controls="customer_menu">
<div class="d-flex align-items-center"><!--data-bs-toggle="collapse"--->
<div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div>
<span class="nav-link-icon"><span data-feather="users"></span></span>
<span class="nav-link-text">Customer</span>
</div>
</a>
<div class="parent-wrapper label-1">
<ul class="nav collapse parent show" data-bs-parent="#navbarVerticalCollapse" id="customer_menu">
<li class="collapsed-nav-item-title d-none">고객</li>

<li class="nav-item">
<a class="nav-link" href="/customer/b2b/index" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">Store/B2B</span>
</div>
</a>
<!-- more inner pages-->
</li>

<li class="nav-item">
<a class="nav-link" href="/customer/b2c/index" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">Individual Customer/B2C</span>
</div>
</a>
<!-- more inner pages-->
</li>

<li class="nav-item">
<a class="nav-link" href="/survey/index" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">survey</span>
</div>
</a>
<!-- more inner pages-->
</li>
</ul>
</div>
</div>
</li>
<li class="nav-item" >
<!-- parent pages-->
<div class="nav-item-wrapper"><!--th:href="'#'+${menu.AT_NAME}"--->
<a class="nav-link dropdown-indicator label-1" role="button" aria-expanded="true" aria-controls="service_menu">
<div class="d-flex align-items-center"><!--data-bs-toggle="collapse"--->
<div class="dropdown-indicator-icon"><span class="fas fa-caret-right"></span></div>
<span class="nav-link-icon"><span data-feather="edit"></span></span>
<span class="nav-link-text">Service</span>
</div>
</a>
<div class="parent-wrapper label-1">
<ul class="nav collapse parent show" data-bs-parent="#navbarVerticalCollapse" id="service_menu">
<li class="collapsed-nav-item-title d-none">서비스</li>

<li class="nav-item">
<a class="nav-link" href="/service/tickets" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">产品服务受理</span>
</div>
</a>
<!-- more inner pages-->
</li>

<li class="nav-item">
<a class="nav-link" href="/store/kr" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">Domestic Store Receipt</span>
</div>
</a>
<!-- more inner pages-->
</li>

<li class="nav-item">
<a class="nav-link" href="/store/cn" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">PS REQUEST_CHINA</span>
</div>
</a>
<!-- more inner pages-->
</li>

<li class="nav-item">
<a class="nav-link" href="/store/us" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">PS REQUEST_USA</span>
</div>
</a>
<!-- more inner pages-->
</li>

<li class="nav-item">
<a class="nav-link" href="/store/sg" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">PS REQUEST_SINGAPORE</span>
</div>
</a>
<!-- more inner pages-->
</li>

<li class="nav-item">
<a class="nav-link" href="/store/uk" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">PS REQUEST_UK</span>
</div>
</a>
<!-- more inner pages-->
</li>

<li class="nav-item">
<a class="nav-link" href="/store/puyi" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">PS REQUEST_PUYI</span>
</div>
</a>
<!-- more inner pages-->
</li>

<li class="nav-item">
<a class="nav-link" href="/store/jp" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">PS REQUEST_JAPAN</span>
</div>
</a>
<!-- more inner pages-->
</li>

<li class="nav-item">
<a class="nav-link" href="/store/ae" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">PS REQUEST_UAE</span>
</div>
</a>
<!-- more inner pages-->
</li>

<li class="nav-item">
<a class="nav-link" href="/store/th" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">PS REQUEST_THAILAND</span>
</div>
</a>
<!-- more inner pages-->
</li>

<li class="nav-item">
<a class="nav-link" href="/store/ph" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">PS REQUEST_PHILIPPINES</span>
</div>
</a>
<!-- more inner pages-->
</li>

<li class="nav-item">
<a class="nav-link" href="/store/au" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">PS REQUEST_AUSTRALIA</span>
</div>
</a>
<!-- more inner pages-->
</li>

<li class="nav-item">
<a class="nav-link" href="/store/my" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">PS REQUEST_MALAYSIA</span>
</div>
</a>
<!-- more inner pages-->
</li>

<li class="nav-item">
<a class="nav-link" href="/store/hk" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">PS REQUEST_HONGKONG</span>
</div>
</a>
<!-- more inner pages-->
</li>

<li class="nav-item">
<a class="nav-link" href="/store/tw" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">PS REQUEST_TAIWAN</span>
</div>
</a>
<!-- more inner pages-->
</li>

<li class="nav-item">
<a class="nav-link" href="/store/fr" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">PS REQUEST_FRANCE</span>
</div>
</a>
<!-- more inner pages-->
</li>

<li class="nav-item">
<a class="nav-link" href="/store/ca" data-bs-toggle="" aria-expanded="false">
<div class="d-flex align-items-center"><span class="nav-link-text">PS REQUEST_CANADA</span>
</div>
</a>
<!-- more inner pages-->
</li>
</ul>
</div>
</div>
</li>



</ul>
</div>
</div>
<div class="navbar-vertical-footer">
<button class="btn navbar-vertical-toggle border-0 fw-semi-bold w-100 white-space-nowrap d-flex align-items-center"><span class="uil uil-left-arrow-to-left fs-0"></span><span class="uil uil-arrow-from-right fs-0"></span><span class="navbar-vertical-footer-text ms-2">Collapsed View</span></button>
</div>
</nav>
<!---- 상단 가로 영역 로고,사람 아이콘 있는 위치---->
<nav class="navbar navbar-top navbar-expand" id="navbarDefault">
<div class="collapse navbar-collapse justify-content-between">
<div class="navbar-logo">

<button class="btn navbar-toggler navbar-toggler-humburger-icon hover-bg-transparent" type="button" data-bs-toggle="collapse" data-bs-target="#navbarVerticalCollapse" aria-controls="navbarVerticalCollapse" aria-expanded="false" aria-label="Toggle Navigation"><span class="navbar-toggle-icon"><span class="toggle-line"></span></span></button>
<a class="navbar-brand me-1 me-sm-3" href="/">
<div class="d-flex align-items-center">
<div class="d-flex align-items-center"><img src="./files/ms-iic-icon.png" alt="iic" width="27" />
<p class="logo-text ms-2 d-none d-sm-block">PRODUCT SERVICE</p>
</div>
</div>
</a>
</div>
<ul class="navbar-nav navbar-nav-icons flex-row">
<li class="nav-item dropdown">
<a class="nav-link lh-1 pe-0" id="navbarDropdownUser" href="#!" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-haspopup="true" aria-expanded="false">
<div class="avatar avatar-l ">
<img class="rounded-circle " src="./files/avatar-rounded.webp" alt="" />

</div>
</a>
<div class="dropdown-menu dropdown-menu-end navbar-dropdown-caret py-0 dropdown-profile shadow border border-300" aria-labelledby="navbarDropdownUser">
<div class="card position-relative border-0">
<div class="card-body p-0">
<div class="text-center pt-4 pb-3">
<h6 class="mt-2 text-black">monstercn256</h6>
</div>
</div>

<div class="card-footer p-0 border-top">
<div class="p-2">
<select class="form-select" id="selLanguage" onchange="changeLanguage(this)">
<option value="ko">한국어</option>
<option value="en">English</option>
<option value="zh">中文 (简体)</option>
<option value="zh-tw">中文 (繁體)</option>
<option value="ja">日本語</option>
</select>
</div>
<hr />
<div class="px-3 m-2">
<a class="btn btn-phoenix-secondary d-flex flex-center w-100" href="/logout">
<span class="me-2" data-feather="log-out"> </span>
Sign out</a>
</div>

</div>
</div>
</div>
</li>

</ul>
</div>

</nav>
<!----상단 영역 ---->
<script>
let menu_arr = new Array();
menu_arr.push("member_list_menu");
menu_arr.push("member_auth_menu");
menu_arr.push("product_list_menu");
menu_arr.push("service_cn_ps_menu");
menu_arr.push("service_us_ps_menu");
menu_arr.push("service_sg_ps_menu");
menu_arr.push("service_uk_ps_menu");
menu_arr.push("service_puyi_ps_menu");
menu_arr.push("service_jp_ps_menu");
menu_arr.push("service_ae_ps_menu");
menu_arr.push("service_th_jv_ps_menu");
menu_arr.push("service_ph_ps_menu");
menu_arr.push("service_au_ps_menu");
menu_arr.push("service_my_ps_menu");
menu_arr.push("service_hk_ps_menu");
menu_arr.push("service_tw_ps_menu");
menu_arr.push("service_fr_ps_menu");
menu_arr.push("service_ca_ps_menu");
</script>
<script>
function changeLanguage (obj) {
location.href = "/?lang="+$(obj).val();
}

let cookieArr = document.cookie.split(';')
for (let i=0 ; i < cookieArr.length ; i++) {
let detailArr = cookieArr[i].split('=');
if (detailArr[0].replace(/ /g,'') == "lang") {
$('#selLanguage').val(detailArr[1]);
}
}
</script>
</html>

<!----------- 메뉴 끝 ------------>
<div class="content">
<!---- 화면 콘텐츠 시작 ---->
<nav class="mb-2" aria-label="breadcrumb">
<ol class="breadcrumb mb-0">
<li class="breadcrumb-item active">사용자</li>
</ol>
</nav>
<div class="mb-9"><!--page: 한페이지에 몇개 나올건지--->
<div id="projectSummary" data-list='{"valueNames":["businessRoleId","businessRoleName","businessRoleMemo"],"page":100,"pagination":true}'>
<div class="row mb-4 gx-6 gy-3 align-items-center">
<div class="col-auto">
<h4 class="mb-0">권한관리<span class="fw-normal text-700 ms-3"></span></h4>
</div>
</div>
<div class="row g-3 align-items-end mb-2">
<div class="col-12 col-sm-auto">
<div class="search-box me-3">

<input class="form-control search-input search" type="search" placeholder="Search Role" aria-label="Search" />
<span class="fas fa-search search-box-icon"></span>
</div>
</div>
<div class="col-12 col-sm-auto">
<a class="btn btn-phoenix-primary px-3 me-1 text-900 text-primary bg-white" href="/member/role/add">신규등록</a>
</div>
</div>
<div class="mx-n4 px-4 mx-lg-n6 px-lg-6 bg-white border-top border-bottom border-200 position-relative top-1">
<div class="table-responsive scrollbar">
<table class="table fs--1 mb-0 border-200 mt-1">
<thead>
<tr>
<th class="sort white-space-nowrap align-middle ps-0" scope="col" data-sort="businessRoleId" style="width:30%;">비즈니스 역할 ID</th>

<th class="sort align-middle ps-3" scope="col" data-sort="businessRoleName" style="width:10%;">비즈니스 역할 이름</th>
<th class="sort align-middle ps-3" scope="col" data-sort="businessRoleMemo" style="width:15%;">메모</th>
</tr>
</thead>
<tbody class="list" id="project-list-table-body">
<tr class="position-static" style="cursor: pointer" id="1" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">PS ADMIN</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">전체 관리자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900">전체 관리자</p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="2" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">Operation</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">서비스 관리자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900">서비스 관리자</p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="3" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">Service</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">서비스 담당자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900">서비스 담당자</p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="4" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">HQ Receive</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">HQ 접수 담당자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900">HQ 접수 담당자</p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="5" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">CN Receive</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">중국 접수 담당자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900">중국 접수 담당자</p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="6" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">US Receive</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">미국 접수 담당자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900">미국 접수 담당자</p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="7" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">SG Receive</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">싱가폴 접수 담당자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900">싱가폴 접수 담당자</p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="8" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">UK Receive</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">영국 접수 담당자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900">영국 접수 담당자</p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="9" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">DUBAI Receive</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">두바이 접수 담당자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900">두바이 접수 담당자</p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="10" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">PUYI Receive</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">푸이 접수 담당자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900">푸이 접수 담당자</p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="11" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">Repair</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">수리 담당자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900">수리 담당자</p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="12" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">Delivery</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">출고 담당자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900">출고 담당자</p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="13" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">PSC</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">PSC 담당자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900">PSC 담당자</p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="17" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">inventory</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">재고담당자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900">재고담당자</p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="31" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">Philippines Receive</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">필리핀 접수 담당자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900">필리핀 접수 담당자</p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="32" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">TAIWAN Receive</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">태국 접수 담당자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900">태국 접수 담당자</p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="33" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">AU Receive</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">호주 접수 담당자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900">호주 접수 담당자</p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="34" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">JP Receive</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">일본 접수 담당자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900"></p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="35" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">Stock Manager</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">재고 관리자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900"></p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="36" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">MY Receive</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">말레이시아 담당자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900"></p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="37" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">JP Receive2</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">일본 접수 담당자2</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900">일본 접수 담당자2</p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="38" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">US Receive2</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">US Receive2</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900">US Receive2</p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="39" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">PS SUB ADMIN</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">서브 관리자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900">전체 관리자는 아닌 서브 관리자 권한입니다.</p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="40" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">store education</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">스토어 교육담당자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900"></p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="41" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">security</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">security_개인정보보호 보안성 검토</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900"></p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="42" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">HK Recieve</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">홍콩 접수 담당자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900">홍콩 접수</p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="43" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">TW Recieve</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">대만 접수 담당자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900">대만 접수 담당자</p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="44" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">FR Receive</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">프랑스 접수 담당자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900">프랑스 접수 담당자</p>
</td>
</tr>
<tr class="position-static" style="cursor: pointer" id="45" onclick="showDetail(this)">
<td class="align-middle time white-space-nowrap ps-0 businessRoleId">
<a class="text-decoration-none fw-bold text-black">CA Receive</a>
</td>
<td class="align-middle white-space-nowrap start ps-3 businessRoleName">
<p class="mb-0 fs--1 text-900">캐나다 접수 담당자</p>
</td>
<td class="align-middle white-space-nowrap deadline ps-3 businessRoleMemo">
<p class="mb-0 fs--1 text-900">캐나다 접수 담당자</p>
</td>
</tr>
</tbody>
</table>
</div>
<div class="d-flex flex-wrap align-items-center justify-content-between py-3 pe-0 fs--1 border-200">
<div class="d-flex">

</div>
<div class="d-flex">
<button class="page-link" data-list-pagination="prev"><span class="fas fa-chevron-left"></span></button>
<ul class="mb-0 pagination">

</ul>
<button class="page-link pe-0" data-list-pagination="next"><span class="fas fa-chevron-right"></span></button>
</div>
</div>
</div>
</div>
</div>
<!---- 화면 콘텐츠 끝 ---->

<!------ footer start----->
<html>
<!--- 세션 연장 --->
<div class="modal fade" id="sessionExtendModal" tabindex="-1" aria-labelledby="sessionExtendModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered">
<div class="modal-content">
<div class="modal-header border-bottom-0">
<h5 class="modal-title" id="sessionExtendModalLabel"></h5>
<button class="btn p-1" type="button" data-bs-dismiss="modal" aria-label="Close" onclick="noExtendSession()"><span class="fas fa-times fs--1"></span></button>
</div>
<div class="modal-body">
<div class="row">
<div class="col-md-12">
<span>距登录到期还有不到 5 分钟的时间。你想延长你的时间吗</span>

</div>
</div>
</div>

<div class="modal-footer border-top-0">
<button class="btn btn-primary" type="button" onclick="extendSessionTime()">查看</button>
</div>
</div>
</div>
</div>

<footer class="footer position-absolute" >
<div class="row g-0 justify-content-between align-items-center h-100">
<div class="col-12 col-sm-auto text-center">
<p class="mb-0 mt-2 mt-sm-0 text-900">주)아이아이컴바인드<span class="d-none d-sm-inline-block"></span><span class="d-none d-sm-inline-block mx-1">|</span><br class="d-sm-none" />사업자번호: 119-86-38589</p>
</div>
<div class="col-12 col-sm-auto text-center">
<p class="mb-0 text-600">v1.9.0</p>
</div>
</div>
</footer>

<script src="./files/popper.min.js"></script>
<script src="./files/bootstrap.min.js"></script>
<script src="./files/anchor.min.js"></script>
<script src="./files/is.min.js"></script>
<script src="./files/all.min.js"></script>
<script src="./files/lodash/lodash.min.js"></script>
<!--<script src="https://polyfill.io/v3/polyfill.min.js?features=window.scroll"></script>-->
<script src="./files/list.min.js"></script>
<script src="./files/feather.min.js"></script>
<script src="./files/dayjs/dayjs.min.js"></script>
<script src="./files/prism.js"></script>
<script src="./files/phoenix.js"></script>
<script src="./files/common.js"></script>
<script>
menu_arr.forEach(function(data,index) {
$('.'+data).remove();
})
if (location.pathname != "/" && !location.pathname.startsWith("/notice")) { //글자 수정하기
if(1 <= 0) {
$('.content').append("<div style='background: #fff;width: 100%;position: absolute;height: 100%;left: 0;top: 0;'>" +
"<div style='color: #000;position: absolute;top: 50%;left:50%;text-align: center;margin: auto;'>No permission"+
"</div>" +
"</div>");
// 권한 체크 불편하면 주석.
setTimeout(function(){
alert("You are not authorized to access this page.");
},100)

location.href = "/";
}
}
resetActiveTime();
function resetActiveTime() {
let currentTime = Date.now();
localStorage.setItem("sessionCreateTime",currentTime);
}
function noExtendSession() {
localStorage.setItem("sessionNoExtend","true");
}
function extendSessionTime() {
$.ajax({
url: "/session/extend",
type: "POST",
dataType:"json",
success: function (data) {
if (data.result) {
let json = JSON.parse(data.stringData);
localStorage.setItem("sessionCreateTime", json.sessionCreateTime);
let sessionDuration = 60 * 60 * 1000; //60m
if (data.sessionTime == '4') {
sessionDuration = 240 * 60 * 1000; //240
}
localStorage.setItem("sessionDuration", sessionDuration);

} else {
alert(data.message);
}
localStorage.setItem("sessionNoExtend",""); // 연장안한다고 하면 얼럿 안뜨게 설정
$('#sessionExtendModal').modal('hide');
},
error: function (request, status, error) {
location.reload();
}
});
}

let intervalId = setInterval(checkSessionTime, 10000);
function checkSessionTime() {
localStorage.setItem("sessionNoExtend","")
console.log("session time check", new Date());
let sessionCreateTime = localStorage.getItem("sessionCreateTime");
let sessionDuration = localStorage.getItem("sessionDuration");
let sessionExpiryTime = parseInt(sessionCreateTime)+parseInt(sessionDuration);
let currentTime = Date.now();

let timeRemaining = sessionExpiryTime - currentTime ;

let timeRemainingInMinutes = timeRemaining / (1000 * 60);
let sessionNoExtendFlag = localStorage.getItem("sessionNoExtend");
console.info("로그아웃 까지 ",timeRemainingInMinutes,"분 남았습니다.");
// localStorage.setItem("sessionCreateTime",currentTime);
localStorage.setItem("sessionNoExtend","");
if (timeRemainingInMinutes <= 5 ) {
if (sessionNoExtendFlag != "true") {
$('#sessionExtendModal').modal('show');
}

} else {
if (sessionNoExtendFlag === undefined || sessionNoExtendFlag == null) {
localStorage.setItem("sessionNoExtend","true");
}

}
}
</script>

</html>
<!------- footer end ----->
</div>
</div>
</div>
<!--content 기본 끝--->

<script>
function showDetail(obj) {
location.href='/member/role/'+$(obj).attr("id")+'/mod';
}

</script>
</html>